body{
            font-family: Arial, Helvetica, sans-serif;
            padding: 0px;
        }
        header{
            background-color: antiquewhite;
            color:red;
            text-align: left;
        }
        .h2{
            color:blueviolet;

        }
        .resume{
           max-width:800px;
           margin:auto;
           background: #fff;
           padding:20px;
           border:2px solid black;
           position: relative;

        }
